<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>What I Wish I Knew When Learning HoTT 0.1 ( Auke Booij )</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    $for(author-meta)$
    <meta name="author" content="$author-meta$">
    $endfor$
    $if(date-meta)$
    <meta name="dcterms.date" content="$date-meta$">
    $endif$

    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,700|Source+Code+Pro" rel="stylesheet">
    <style type="text/css">
      $header-includes$
    </style>

    $if(highlighting-css)$
      <style type="text/css">
    $highlighting-css$
      </style>
    $endif$

    $for(css)$
    <link rel="stylesheet" href="$css$" $if(html5)$$else$type="text/css" $endif$/>
    $endfor$

    $if(math)$
    $if(html5)$
    $else$
      $math$
    $endif$
    $endif$
    $for(header-includes)$
      $header-includes$
    $endfor$
  </head>

  <body itemscope itemtype="http://schema.org/TechArticle">
    <div id="sidebar-wrapper">
      <a href="https://abooij.github.io/wiwikwlhott/" class="logo">
        <img src="logo.svg" alt="Logo">
      </a>
      <button id="toggle-sidebar">
        Menu
      </button>
      <ul class="sidebar-nav">
$toc$
      </ul>
    </div>

    <div id="main-wrapper">
      <div id="main">
        <h1 class="document-title" itemprop="name">
          What I Wish I Knew When Learning HoTT
        </h1>
        <p itemprop="version" class="document-version">
        Version
        <span class="version">0.1</span>
        </p>
$body$
      </div>
    </div>

    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="js/nav.js"></script>
  </body>
</html>
